.header__logo {
    width: 142px;
    height: 33px;
    background-image: url(../../../images/logo_mesto.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

@media screen and (max-width: 500px) {
    .header__logo {
        width: 103px;
        height: 24px;
        margin: 0 auto;
      }
  } 